// This defines the blue color used throughout the page
$trinity-blue: #2d394a;

// This defines the red color used throughout the page
$trinity-red: #ce427a;

// This defines the body text color
$body-text-color: #454545;

// This simplifies using the Roboto font
$content-font: "Roboto", sans-serif;

// This simplifies using the Playfair Display font
$heading-font: "Playfair Display", serif;

// This controls the case study card positioning on lg breakpoints
$case-study-position-lg: 150px;

// This controls the case study card positioning on xs breakpoints
$case-study-position-xs: 70px;